# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.egg-info/
*.egg

# Virtual environments
env/
venv/
ENV/

# IDEs
#.vscode/
.idea/
*.swp
*.swo
*~

# Logs
logs/*.log
*.log

# Temporals
*.tmp
*.bak
.cache/

# OS
.DS_Store
Thumbs.db

# Test outputs
outputs/
*.png
*.jpg